name: Linters
on: [ workflow_call ]
permissions:
  contents: read
env:
  GOMODCACHE: /tmp/go/pkg/mod
jobs:
  golangci:
    runs-on: ubuntu-latest
    steps:
      - name: checkout repo
        uses: actions/checkout@v6
      - name: prepare
        uses: ./.github/actions/prepare
      - name: setup golangci-lint
        uses: golangci/golangci-lint-action@v9
        with:
          version: v2.6
      - name: run golangci-lint
        run: golangci-lint run
