name: Tests
on: [ workflow_call ]
permissions:
  contents: read
env:
  GOMODCACHE: /tmp/go/pkg/mod
jobs:
  unit:
    runs-on: ubuntu-latest
    steps:
      - name: checkout repo
        uses: actions/checkout@v4
      - name: prepare
        uses: ./.github/actions/prepare
      - name: run tests
        run: go test -v -covermode atomic ./... --race --timeout 1m
  integration:
    runs-on: ubuntu-latest
    steps:
      - name: checkout repo
        uses: actions/checkout@v4
      - name: prepare
        uses: ./.github/actions/prepare
      - name: run tests
        run: go test -v ./test/... --race --timeout 1m -tags=integration
  ws-autobahn:
    runs-on: ubuntu-latest
    steps:
      - name: checkout repo
        uses: actions/checkout@v4
      - name: prepare
        uses: ./.github/actions/prepare
      - name: make report directory
        run: mkdir -p ./test/transport/autobahn/reports
      - name: prepare config
        run: sed 's/host.docker.internal/localhost/g' ./test/transport/autobahn/config/fuzzingclient.json -i
      - name: run server
        run: go run ./test/transport/autobahn/ &
      - name: run suit
        run: |
          docker run -i --rm \
            --network="host" \
            -v ./test/transport/autobahn/config:/config \
            -v ./test/transport/autobahn/reports:/reports \
            crossbario/autobahn-testsuite \
            wstest -m fuzzingclient -s /config/fuzzingclient.json
      - name: upload report
        uses: actions/upload-artifact@v4
        with:
          name: ws-autobahn-report
          path: ./test/transport/autobahn/reports



